name: Build Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang cmake pkg-config libgtk-3-dev liblzma-dev
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'
        channel: 'stable'
        cache: false
        
    - name: Clean Flutter cache
      run: |
        flutter clean
        rm -rf .dart_tool
        rm -rf .packages
        rm -rf pubspec.lock
        rm -rf ~/.pub-cache
        rm -rf ~/.flutter
        rm -rf /opt/hostedtoolcache/flutter
        flutter pub cache repair
        flutter pub get
        
    - name: Check Flutter version
      run: flutter --version
      
    - name: Check Dart version  
      run: dart --version
        
    - name: Get dependencies
      run: flutter pub get
      
    - name: Build Linux
      run: flutter build linux --release
      
    - name: Upload Linux build
      uses: actions/upload-artifact@v4
      with:
        name: linux-release
        path: build/linux/x64/release/bundle/
